{% extends "base.html" %}
{% block title %}All Test Data{% endblock %}
{% block content %}


<div class="row-fluid">
    <div class="span12">
        <div align="left">
			<h1>All Test Data</h1>
		</div>
	</div>
</div>

<ul>
{% for TD in tds %}
	<li>
		<a href="{{url_for('showTD', td_id=TD.id)}}">{{TD.name}}</a>		
	</li>
{% endfor %}
</ul>

{% endblock %}