{% extends "base.html" %}
{% block title %}All Test Runs{% endblock %}
{% block content %}


<div class="row-fluid">
    <div class="span12">
        <div align="left">
			<h1>All Test Runs</h1>
		</div>
	</div>
</div>

<ul>
{% for TR in trs %}
	<li>
		<div class="row-fluid">
		    <div class="span3">
		        <div align="left">
		            <p><b><a href="{{url_for('showTR', tr_id=TR.id)}}">{{ TR.name }}</a></b></p>
		        </div>
		    </div>

		    <div class="span3">
		        <div align="left">
		        	<p>Revision: {{TR.revision}}</p>
		        	<p>Total tests: {{TR.all_tests_num}}</p>
		        </div>
		    </div>

		    <div class="span3">
		        <div align="left">
		            Ready : {{TR.ready_num}}
					Doing : {{TR.doing_num}}
					Passed: {{TR.passed_num}}
					Failed: {{TR.failed_num}}
					<p>{{TR.progress}}% |_____20_______----4--|</p>
		        </div>
		    </div>
		</div>

	</li>
{% endfor %}
</ul>

{% endblock %}