{% extends "c_base.html" %}
{% block title %}All Test Runs{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div align="left">
			<h1>All Test Runs</h1>
		</div>
	</div>
</div>

<ul>
{% for TR in trs %}

	<div class="row-fluid">
	    <div class="span3">
	        <div align="left">
	            <p><b><a href="{{url_for('getTR', tr_id=TR.id)}}">{{ TR.name }}</a></b></p>
	            <p>State: {{TR.state}}</p>
	        </div>
	    </div>

	    <div class="span3">
	        <div align="left">
	        	<p>Revision: {{TR.revision}}</p>
	        	<p>Total tests: {{TR.all_tests_num}}</p>
	        </div>
	    </div>

	    <div class="span3">
	        <div align="left">
	            <p>Progress: {{TR.progress}}%</p>
	        </div>
	    </div>
	</div>

{% endfor %}
</ul>
{% endblock %}