<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">


        <style> body { padding-top: 60px; } </style>

        <link href="grid.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
</head>

  <body>
  <div id="wrap">
    {% include 'c_nav_bar.html' %}


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        >><i>{{ message }} </i>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% block content %}{% endblock %}

  </div>


  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src={{ url_for('static', filename="js/jquery.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-transition.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-alert.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-modal.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-dropdown.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-scrollspy.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-tab.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-tooltip.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-popover.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-button.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-collapse.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-carousel.js") }}></script>
  <script src={{ url_for('static', filename="js/bootstrap-typeahead.js") }}></script>
  </body>
</html>