{% extends "c_base.html" %}
{% block title %}Distributed Test Client Dashboard{% endblock %}
{% block content %}

<h1>Distributed Test Dashboard</h1>

<p><a href="{{url_for('getTR')}}">View all available test runs</a></p>

<p>{{num_running_trs}} Test runs currently in progress on this client:</p>
<ul>
{% for tr in joined %}
	<li><a href="{{url_for('running', tr_id=tr.id)}}">{{tr.name}}</a> - {{tr.time_remaining}} remaining</li>
{% endfor %}
</ul>

<p></p>


{% endblock %}