{% extends "c_base.html" %}
{% block title %}View Test Run{% endblock %}
{% block content %}



<h1><a href="{{url_for('joinTR', tr_id=tr.id)}}">Join Test Run: {{tr.name}}</a></h1>

<div class="row-fluid">
    <div class="span3">
        <div align="left">
            <p>Name: {{ tr.name }}</p>
        	<p>ID: {{ tr.id }}</p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
        	<p>Revision: {{tr.revision}}</p>
        	<p>Total tests: {{tr.all_tests_num}}</p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
            <p>Progress: {{tr.progress}}%</p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <div align="left">
            <p><a href={{tr.link}}>More details</a></p>
        </div>
    </div>
</div>

{% endblock %}