{% extends "c_base.html" %}
{% block title %}Running Test{% endblock %}
{% block content %}

<h1>{{tr.name}}</h1>
<h3>Currently subscribed to this test run</h3>
<p>State:{{tr.state}}</p>




<div class="row-fluid">
    <div class="span3">
        <div align="left">
        	<h3>Ready: {{tr.ready_num}}</h3>
        	<ul>
        	{% for test in tr.ready %}
        		<li>{{test}}</li>
        	{% endfor %}
        	</ul>
        </div>
    </div>
    <div class="span3">
        <div align="left">
        	<h3>Doing: {{tr.doing_num}}</h3>
        	<ul>
        	{% for test in tr.doing %}
        		<li>{{test}}</li>
        	{% endfor %}
        	</ul>
        </div>
    </div>
    <div class="span3">
        <div align="left">
        	<h3>Passed: {{tr.passed_num}}</h3>
        	<ul>
        	{% for test in tr.passed %}
        		<li>{{test}}</li>
        	{% endfor %}
        	</ul>
        </div>
    </div>
    <div class="span3">
        <div align="left">
        	<h3>Failed: {{tr.failed_num}}</h3>
        	<ul>
        	{% for test in tr.failed %}
        		<li>{{test}}</li>
        	{% endfor %}
        	</ul>
        </div>
    </div>

</div>

{% endblock %}