{% extends "base.html" %}
{% block title %}Distributed Test Server Dashboard{% endblock %}
{% block content %}

<h1>Distributed Test Dashboard</h1>
<p>{{num_running_trs}} Test runs currently in progress</p>
<ul>
{% for tr in running_trs %}
	<li><a href="{{url_for('showTR', tr_id=tr.id)}}">{{tr.name}}</a> -
	{{tr.progress}}% done -
	{{tr.time_remaining}} remaining </li>
{% endfor %}
</ul>
<p></p>

<p><a href="{{ url_for('showTR') }}">View all test runs</a></p>

<form action="{{ url_for('showTR') }}" method="get">
	<p>Search for Test Run by name <input type="text" name="name">
		<input type="submit" value="Search"></p>

</form>
<form action="{{ url_for('showTR') }}" method="get">
	<p>Search for Test Run by revision <input type="text" name="revision">
		<input type="submit" value="Search"></p>
</form>

<p>Search for Test Run by start date</p>


<p><a href="{{ url_for('add_new_test_run') }}">Add new test run</a></p>

{% endblock %}