<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href={{ url_for("index") }}>DisTest</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-left">

                    <li class="active">
                        <a href={{ url_for("index") }}>Dashboard</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Currently Running<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% if nav %}
                            {% for tr in nav.n_running %}
                                <li><a href="{{url_for('showTR', tr_id=tr.id)}}">{{tr.name}}</a></li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recently Finished<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        {% if nav %}
                            {% for tr in nav.n_finished %}
                                <li><a href="{{url_for('showTR', tr_id=tr.id)}}">{{tr.name}}</a></li>

                            {% endfor %}
                        {% endif %}
                           
                        </ul>
                    </li>

                    <li><a href="{{url_for("showTR")}}">All</a></li>

                    <li><a href="{{url_for("add_new_test_run")}}">Add Test Run</a></li>

                    <li><a href="{{url_for("showTD")}}">Tests</a></li>

                </ul>



                <!--
                <ul class="nav pull-right">
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>
                    
                </ul>-->
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>