{% extends "base.html" %}
{% block title %}Add New Test Run{% endblock %}
{% block content %}

<script language="JavaScript">
function toggle(bool_value) {
  checkboxes = document.getElementsByName('TS_tick');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = bool_value;
  }
}
</script>

<h1>Add New Test Run</h1>

<form action="{{ url_for('add_new_test_run') }}" method="post">

	<!--Name: text box-->
	Name: <input type="text" name="name"><br>
	<!--Revision: text box-->
	Revision: <input type="text" name="revision"><br>


	<p>Builds</p>
	<!--Builds: tick boxes, taken from config-->
	<ul>
	{% for build in data.builds %}
		<li>
			<input type="checkbox" name="build" value="{{build}}">{{build}}
		</li>
	{% endfor %}
	</ul>

	<p>Tests</p>
	<!--Select all/none: buttons-->
	<button type="button" onClick="toggle(true)" id='check_all'>Select All</button>
	<button type="button" onClick="toggle(false)" id='check_all'>Select None</button>

	{% for TS, TCs in data.test_suites.iteritems() %}
			<dt><input type="checkbox" name="TS_tick" value="{{TS}}">{{TS}}</dt>
			{% for TC in TCs %}
			<dd>{{TC}}</dd>
			{% endfor %}
	{% endfor %}
	<p><input type="submit" value="Add Test Run"></p>
 </form>
 {% endblock %}