{% extends "base.html" %}
{% block title %}View Test Data{% endblock %}
{% block content %}




<h1>Test Data: {{td.name}}</h1>

<div class="row-fluid">
    <div class="span3">
        <div align="left">
            <p>Test Suite: {{td.test_suite}}</p>
            <p>Test Case: {{td.test_case}}</p>
            <p>Build: {{td.build_var}}</p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
            <p>Expected time : {{td.expd_time}}</p>
            {% for th in td.time_history %}
                {{th}},
            {% endfor %}
            <p>ID: {{ td.id }}</p>
        </div>
    </div>

</div>

{% endblock %}