{% extends "base.html" %}
{% block title %}All Test Runs{% endblock %}
{% block content %}


<div class="row-fluid">
    <div class="span12">
        <div align="left">
			<h1>All Test Runs</h1>
		</div>
	</div>
</div>

<ul>
{% for TR in TRs %}
	<li>
		{% include 'TR_overview.html' %}
		
	</li>
{% endfor %}
</ul>

{% endblock %}