{% extends "base.html" %}
{% block title %}View Test Run{% endblock %}
{% block content %}



<h1>Test Run: {{tr.name}}</h1>


<div class="row-fluid">
    <div class="span3">
        <div align="left">
            <p><b>{{ tr.name }}</b></p>
        	<p>ID: {{ tr.id }}</p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
        	<p>Revision: {{tr.revision}}</p>
        	<p>Total tests: {{tr.all_tests_num}}</p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
            <p>Progress: {{tr.progress}}%</p>
			<p>|_____20_______----4--|</p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <div align="left">
        	<h3>Ready: {{tr.ready_num}}</h3>
        	<ul>
        	{% for test in tr.testsReady %}
        		<li><a href="{{url_for('showTD', td_id=test.td.id)}}">{{test.td.name}}</a></li>
        	{% endfor %}
        	</ul>
        </div>
    </div>
    <div class="span3">
        <div align="left">
        	<h3>Doing: {{tr.doing_num}}</h3>
        	<ul>
        	{% for test in tr.testsDoing %}
        		<li><a href="{{url_for('showTD', td_id=test.td.id)}}">{{test.td.name}}</a></li>
        	{% endfor %}
        	</ul>
        </div>
    </div>
    <div class="span3">
        <div align="left">
        	<h3>Passed: {{tr.passed_num}}</h3>
        	<ul>
        	{% for test in tr.testsPassed %}
        		<li><a href="{{url_for('showTD', td_id=test.td.id)}}">{{test.td.name}}</a></li>
        	{% endfor %}
        	</ul>
        </div>
    </div>
    <div class="span3">
        <div align="left">
        	<h3>Failed: {{tr.failed_num}}</h3>
        	<ul>
        	{% for test in tr.testsFailed %}
        		<li><a href="{{url_forshowetTD', td_id=test.td.id)}}">{{test.td.name}}</a></li>
        	{% endfor %}
        	</ul>
        </div>
    </div>

</div>


{% endblock %}