
<div class="row-fluid">
    <div class="span3">
        <div align="left">
            <p><b><a href="{{url_for("show_a_test_run", tr_fn=TR.name)}}">{{ TR.name }}</a></b></p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
        	<p>Revision: {{TR.revision}}</p>
        	<p>Total tests: {{TR.all_tests}}</p>
        </div>
    </div>

    <div class="span3">
        <div align="left">
            Ready : {{TR.ready_num}}
			Doing : {{TR.doing_num}}
			Passed: {{TR.passed_num}}
			Failed: {{TR.failed_num}}
			<p>{{TR.progress}}% |_____20_______----4--|</p>
        </div>
    </div>
</div>

<div>
<p></p>
</div>
